<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		    <add name="DVLD" connectionString="Server=.;Database=DVLD;User Id=sa;Password=123456;" providerName="System.Data.SqlClient" />
		    <add name="RegistryKeyPath" connectionString="HKEY_CURRENT_USER\SOFTWARE\Driving License Management" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="AppEmailEncrypted" value="" />
		<add key="AppPasswordEncrypted" value="" />
	</appSettings>
</configuration>